html{
	background: #fff;
}

body{
	width: 900px;
	border: 4px solid #789;
	margin: 20px auto;
	font-family: Arial, sans-serif, Helvetica;
	background: #555;
}

h1{
	background: #121624;
	display: block;
	font-size: 22px;
	padding: 8px 10px;
	color: #fff;
	margin: 0;
}

label.error{
	color: #923;
	font-style: italic;
	font-size: 15px;
	font-weight: bold;
}

label {
	display: block;
	margin-bottom: 5px;
	padding: 4px 0;
	color: #fff;
	margin-left: 20px;
}

div.form{
	background: url(../admin/images/login.png) no-repeat center center;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

form {
	font-family: Arial, sans-serif, Helvetica;
	padding: 20px 250px;
}

input[type=text], input[type=password], input[type=file], select, textarea{
	width: 300px;
	padding: 8px 0;
	color: #555;
	margin-left: 20px;
	font-family: Arial, sans-serif, Helvetica;
	margin-bottom: 4px;
}

select {
	text-align: center;
}

input[type=file]{
	color: #fff;
}

textarea{
	resize: none;
	height: 100px;
	padding: 5px 10px;
}

div.error{
	color: #921;
	font-weight: bold;
	font-style: italic;
}

a.have{
	float: left;
	text-decoration: none;
	margin-top: 30px;
	margin-left: 15px;
	color: #fff;
}

input[type=submit] {
	display: block;
	padding: 8px 30px;
	color: #789;
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 20px;
}

div.info {
	background: #129;
	padding: 7px 17px;
	text-align: right;
}

div.info a{
	border-bottom: 1px dotted #fff;
	color: #fff;
	text-decoration: none;
}

ul.cats {
	list-style: none;
}

ul.cats li{
	display: block;
	border-bottom: 1px solid #296;
	margin-right: 35px;
}

ul.cats a{
	padding: 10px;
	text-decoration: none;
	display: block;
	color: #fff;
}

ul.cats a:hover{
	background: #aaa;
}

div.main{
	float: right;
	width: 660px;
	background: #fff;
	min-height: 300px;
}

div.sidebar {
	float: left;
	width: 240px;
}

ul.item-list{
	width: 100%;
	list-style: none;
	margin-right: -1px;
	margin-left: 10px;
	overflow: hidden;
}

ul.item-list img{
	width: 120px;
	height: 150px;
}

ul.item-list li{
	width: 190px;
	float: left;
	padding: 10px;
	display: block;

}

ul.item-list li h2,i{
	padding-left: 30px;
	display: block;
	margin: 0 auto;
}

ul.item-list li h2{
	font-size: 17px;
}

ul.item-list li i {
	font-size: 12px;
	color: #912;
}

a.add{
	display: block;
	width: 80px;
	text-decoration: none;
	background: #3a5;
	padding: 5px 20px;
}

div.footer{
	text-align: center;
	padding: 15px 20px;
	background: #000;
	opacity: 0.4;
	color: #fff;
}

div.pagination{
	float: right;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: -1px;
	padding: 0;
}

.prev {
	float: left;
	display: block;
}

.next {
	float: right;
	display: block;
}

span.prev{
	margin: 10px 20px;
}

a.next{
	margin: 10px 20px;
}

a.prev{
	margin: 10px -1px;
	padding-right: 40px;
}

span.next{
	margin-top:10px;
	margin-left: -1px;
	margin-right: 10px;
	padding-right: 5px;
}

div.pagination span{
	font-size: 17px;
	color: #555;
}

div.pagination a{
	text-decoration: none;
}

a.continue {
	font-size: 14px;
	color: #55d !important;
}

a.clear{
	font-size: 14px;
	color: red !important;
}
