html{
	background: #fff;
}

body{
	width: 900px;
	border: 4px solid #789;
	margin: 20px auto;
	font-family: Arial, sans-serif, Helvetica;
}

h1{
	background: #121624;
	display: block;
	font-size: 22px;
	padding: 8px 10px;
	color: #fff;
	margin: 0;
}

label {
	display: block;
	margin-bottom: 5px;
	padding: 4px 0;
	color: #fff;
	margin-left: 20px;
}

div.form{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/login.png) no-repeat center center;
}

form {
	font-family: Arial, sans-serif, Helvetica;
	padding: 20px 250px;
}

input[type=text], input[type=password], textarea {
	width: 300px;
	padding: 8px 0;
	color: #555;
	margin-left: 20px;
	font-family: Arial, sans-serif, Helvetica;
	margin-bottom: 4px;
}


label.error{
	color: #923;
	font-style: italic;
	font-size: 15px;
}

textarea{
	resize: none;
	height: 100px;
	padding: 5px 10px;
}

input[type=submit] {
	display: block;
	padding: 8px 30px;
	color: #789;
	margin-left: 20px;
	margin-top: 10px;
}

div.login-fail {
	color: #922;
	margin-top: 20px;
	margin-left: 270px;
	font-style: italic;
	font-size: 15px;
}

ul{
	list-style: none;
}

ul.menu{
	background: #d55;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

ul.menu li{
	float: left;
	border-right: 1px solid #121624;
}

ul.menu li a{
	display: block;
	text-decoration: none;
	padding: 12px 62px;
}

ul.menu li a:hover{
	background: #f55;
}

ul.list{
	margin: 10px 30px;
	padding: 0;
}

ul.list li{
	margin-top: 0;
	margin-right: 5px;
	padding: 10px 15px;
	border-bottom: 1px solid #000;
}

ul.list li a{
	padding: 2px;
	margin-right: 2px;
}

a.del{
	color: #f45;
}

a.edit{
	color: #e8ab29;
}

a.add{
	text-decoration: none;
	border: 1px solid #392;
	background: #4a5;
	padding: 10px 20px;
	display: block;
	float: left;
	margin: 20px 30px;
}

ul.main{
	overflow: hidden;
	margin-bottom: 10px;
	padding: 0;
	list-style: none;
}

ul.main li{
	margin: 5px 20px;
	border-bottom: 1px solid #777;
	padding: 10px;
}

img{
	height: 140px;
}

a.back{
	float: right;
	text-decoration: none;
	padding: 8px;
}

ul.main p{
	width: 30em;
	line-height: 1.5em;
}

ul.detail{
	overflow: hidden;
	margin: 0;
	padding: 0;
}

ul.detail li {
	display: block;
	width: 200px;
}

ul.detail img{
	height: 200px;
	display: block;
}

ul.detail h2{
	font-size: 18px;
}

ul.detail h2,i,span,p{
	display: block;
	padding: 0 40px;
	font-size: 13px;
}

ul.detail p{
	width: 30em;
	line-height: 1.5em;
}

div.pagination{
	float: right;
	overflow: hidden;
	margin-top: 35px;
}

div.left{
	float: left;
	display: block;
	margin-bottom: 20px;
	margin: 0;
}

div.right{
	float: right;
	display: block;
	margin-bottom: 20px;
	margin-right: 8px;
}

div.pagination span{
	font-size: 17px;
	color: #555;
}

div.pagination a{
	text-decoration: none;
}




